@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

html {
  background-color: black;
  /* overflow: hidden; */
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  border: 0;
}

.entire-display {
  color: white;
  font-family: 'Fjalla One';
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
  padding: 0;
}

.grabber {
  font-size: 18vw;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  transform: scaleY(1.1);
}

.snarky {
  font-size: 8vw;
  letter-spacing: -0.05em;
  text-align: center;
}
