@font-face {
  font-family: 'Fjalla One';
  src: url('include/fonts/fjalla-one.ttf')
}

html {
  background-color: black;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  border: 0;
}

#entire-display {
  color: white;
  font-family: 'Fjalla One';
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
  padding: 0;
}

#grabber {
  font-size: 140pt;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  transform: scaleY(1.1);
}

#snarky {
  font-size: 60pt;
  letter-spacing: -0.05em;
  text-align: center;
}

#loader {
  transform: scaleY(0.9);
  min-height: 0.8em;
}
